*.out
!include
00MANIFEST
ndnd/anything.ndnb
ndnd/Makefile
ndnd/ndnd
ndnd/ndnd_built.sh
ndnd/ndnd-init-keystore-helper
ndnd/ndndsmoketest
ndnd/contentobjecthash.ndnb
ndnd/contentobjecthash.out
ndnd/contentmishash.ndnb
ndnd/minsuffix.ndnb
conf.mk
conf/local.mk
cmd/Makefile
cmd/ndn_ndnbtoxml
cmd/ndn_fetch_test
cmd/ndn_splitndnb
cmd/ndn_xmltondnb
cmd/ndnbasicconfig
cmd/ndnbuzz
cmd/ndnbx
cmd/ndncat
cmd/ndncatchunks
cmd/ndncatchunks2
cmd/ndndump
cmd/ndndumpnames
cmd/ndndumppcap
cmd/ndnfilewatch
cmd/ndnguestprefix
cmd/ndnpeek
cmd/ndnhexdumpdata
cmd/ndninitkeystore
cmd/ndnlibtest
cmd/ndnls
cmd/ndnnamelist
cmd/ndnpoke
cmd/ndnrm
cmd/ndnsendchunks
cmd/ndnseqwriter
cmd/ndnsimplecat
cmd/ndnslurp
cmd/ndnsyncwatch
cmd/ndnsyncslice
cmd/ndntimestamps
cmd/dataresponsetest
cmd/ndnc
cmd/ndnsnew
cmd/ndn-pubkey-name
lib/Makefile
lib/basicparsetest
lib/ndn_verifysig
lib/encodedecodetest
lib/hashtbtest
lib/libndn.a
lib/matrixtest
lib/signbenchtest
lib/skel_decode_test
lib/test.keystore
lib/ndnbtreetest
libexec/Makefile
libexec/ndndc
libexec/ndndc-inject
libexec/udplink
tests/Makefile
tests/FAILING
tests/SKIPPED
tests/STATUS/
tests/ephemeral*
